#container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#container{
    width: 37vw;
    height: 70vh;
     border-radius: 2vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 30vw;
    background: linear-gradient(135deg, #00feda, #5b548a);
    color: #fff;
    box-sizing: border-box;
}
.search{
    width: 100%;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    color: mediumslateblue;
    font-size: 3vh;
    width: 70%;
    height: 100%;
    border: 0;
    background-color: #ebfffc;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    outline: none;
}
.search button{
    border: 0;
    background-color: yellowgreen;
    width: 10%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}
.details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col img{
    margin-top: 2vh;
    width: 4rem;
    height: 3rem;
}
.col p{
    margin: 0.5rem;
}
.weather h2{
    font-size: 3rem;
}
.humidity, .wind{
    font-size: 1.5rem;
}
.weather{
    visibility: hidden;
}
#error{
    font-size: 3rem;
    display: none;
}
#searchCity{
    padding-left: 7%;
}

@media (orientation: portrait){
    body{
        margin: 0%;
        padding: 0%
    }
    #container{
        width: 100vw;
        height: 100vh;
        margin: 0%;
        border-radius: 0%;
    }
    .search button{
        height: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    body{
        margin: 0%;
        padding: 0%
    }
    #container{
        width: 100vw;
        height: 100vh;
        margin: 0%;
        border-radius: 0%;
    }
    .search button{
        height: 100%;
        width: 7%;
    }
    .search input{
        width: 30%;
    }
  }